*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

.navContainer{
  background-color: #60109775;
  color: #000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLink{
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.navLink img{
  margin-right: 1rem;
}

.itemListContainer{
  padding: 1rem 2rem;
}

.cartWidgetContainer{
  display: flex;
  align-items: center;
}